.images
    .icon
        width: 1.5em !important
        height: 1.5em !important
        font-size: 1.5em
        cursor: pointer
        &::after
            vertical-align: super

td .btn-group
            justify-content: center

.action-btn
    display: flex !important
    flex-grow: 0 !important
    align-content: center
    justify-content: center
    & i
        font-size: 1em
        height: 1em !important
        width: 1em !important
        &::before
            vertical-align: super
